<form method="post" action="{{ path('post_img_delete', {'id': post_img.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post_img.id) }}">
    <button class="btn">Delete</button>
</form>
